@charset "utf-8";

html, body {height:auto;}

.geral{
    min-height:auto;
    position:relative;
}

.img_header{
    width: 100%;
    max-width: 250px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

/* Adiciona cor ao fundo do menu */
.menuGeral{
    background-color: #391313;
    overflow: hidden;
}

/* Estiliza os links dentro da barra de navegação */
.menuGeral a {
    float: left;
    display: block;
    color: #ffd9cc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

/* Muda a cor dos links durante o hover */
.menuGeral a:hover {
    background-color: #ffd9cc;
    color: #391313;
}

/* Adiciona a classe active para ressaltar a página atual */
.menuGeral a.active {
    background-color: #391313;
    color: #ffd9cc;
}

/* Esconde os links que deveriam abrir e fechar o menuGEral em telas pequenas */
.menuGeral .icon {
    display: none;
}

/* Quando a largura da tela for menor que 600px, esconde todos os links, exceto o primeiro ("Início"). Mostra o link que abre e fecha o menuGeral (.icon) */
@media screen and (max-width: 600px) {
    .menuGeral a:not(:first-child) {display: none;}
    .menuGeral a.icon {
      float: right;
      display: block;
    }
}

/* A classe "responsiva" é adicionada ao menuGeral com Javascript quando o usuário clica no ícone.
Essa classe faz o menuGeral se ajustar em telas menores (mostra os links verticalmente e vez de horizontalmente) */
@media screen and (max-width: 600px) {
    .menuGeral.responsive {position: relative;}
    .menuGeral.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .menuGeral.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

body {
    background-color: #ffd9cc;
}

.img_map{
    width: 90%;
    max-width: 550px;
    height: auto;
}

.footer{
    position: relative;
    text-align: center;
    width: 99%;
    color:#391313;
    padding-top: 50px;
}

.whatsapp_logo{
    width: 90%;
    max-width: 57px;
    height: auto;
    padding-bottom: 0%;
    padding-top: 3%;
    vertical-align:bottom;
}

.instagram_logo{
    width: 90%;
    max-width: 50px;
    height: auto;
    padding-bottom: 0%;
    vertical-align:top;
}

.facebook_logo{
    width: 90%;
    max-width: 50px;
    height: auto;
    padding-bottom: 0%;
    vertical-align:top;
}

.info_logos{
    display:inline-block;
    padding-left: 1%;
    padding-top: 1%;
    font-family: Arial, Helvetica, sans-serif;
}

.social_links{
    text-decoration: unset;
}

.carouselGeral{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* As medidas máximas do carousel precisam ser iguais as medidas máximas das imagens dele */
.carousel{
    max-width: 900px;
    max-height: 595px;
    padding-top: 30px;
}

.carousel-item{
    max-width: 900px;
    max-height: 595px;
}

.sobre{
    padding-top: 2%;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 33%;
    padding: 30px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }