@charset "utf-8";

html, body {height:auto;}

.geral{
    min-height:auto;
    position:relative;
}

.img_header{
    width: 100%;
    max-width: 250px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

/* Adiciona cor ao fundo do menu */
.menuGeral{
    background-color: #391313;
    overflow: hidden;
}

/* Estiliza os links dentro da barra de navegação */
.menuGeral a {
    float: left;
    display: block;
    color: #ffd9cc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.35s;
  }

/* Muda a cor dos links durante o hover */
.menuGeral a:hover {
    background-color: #ffd9cc;
    color: #391313;

}

/* Adiciona a classe active para ressaltar a página atual */
.menuGeral a.active {
    background-color: #640a0a;
    color: #ffd9cc;
}

/* Esconde os links que deveriam abrir e fechar o menuGEral em telas pequenas */
.menuGeral .icon {
    display: none;
}

#menuGeralId{
    
    display: flex;
    justify-content: space-between;
}

#aEntreResponsivo{
    display: none;
}

#aCadastreResponsivo{
    display: none;
}

/* Quando a largura da tela for diminuída, esconde todos os links, exceto o primeiro ("Início"). Mostra o link que abre e fecha o menuGeral (.icon) */
@media screen and (max-width: 870px) {
    .menuGeral a:not(:first-child) {
        display: none;
    }
    .menuGeral a.icon {
      float: right;
      display: block;
    }
    #aEntreResponsivo{
        display: none;
    }
    
    #aCadastreResponsivo{
        display: none;
    }
    div#loginArea{
        display: none;
    }
}

/* A classe "responsiva" é adicionada ao menuGeral com Javascript quando o usuário clica no ícone.
Essa classe faz o menuGeral se ajustar em telas menores (mostra os links verticalmente e vez de horizontalmente) */
@media screen and (max-width: 870px) {
    .menuGeral.responsive {position: relative;}
    .menuGeral.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    #menuGeralId{
        display: block;
    }

    .menuGeral.responsive #aEntreResponsivo{
        display: block;
    }
    
    .menuGeral.responsive #aCadastreResponsivo{
        display: block;
    }
    .menuGeral.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

body {
    background-color: #ffd9cc;
}

.footer{
    position: relative;
    text-align: center;
    width: 99%;
    color:#391313;
    padding-top: 50px;
}

.containerDivCentral {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    }

#divCentral{
    width: 70%;
    max-width: 100%;
}

#registerCentral{
    display: flex;
    justify-content: space-evenly;
}

#registerCentral div{
    margin-top: 10px;
}

#registerLeftSide{
    width: 45%;
}

#registerRightSide{
    width: 45%;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#btnLogar{
    width: 90px;
    height: 35px;
    background-color: #391313;
    border: none;
    border-radius: 5px;
    color: #ffd9cc;
    display: flex;
    align-items: center;
    justify-content: center;    
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    transition: 0.25s;
    
}

#btnLogar:hover{
    background-color: #ffd9cc;
    color: #391313;
    border-color: #391313 0.1;
    border: 0.1px solid;
}

@media (max-width: 865px) {
    #bottom{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 89%;
        margin-left: 5%;
        padding-left: 0%;
        padding-right: 0%;
    }
}

@media (min-width: 866px) {
    #bottom{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 89%;
        margin-left: 5%;
        padding-left: 30%;
        padding-right: 30%;
    }
}

#linkLogin{
    display: block;
}
#linkLoginHover{
    display: none;
}

#bottom a{
    font-size: 10pt;
    text-decoration: none;
    color: #391313;
}

#divLogin{
    width: 150px;
    display: flex;
    justify-content: center;
}

@media (max-width: 865px) {
    #divCentral{
        max-width: 600px;
    }
}

@media (max-width: 670px) {
    #divCentral{
        max-width: 550px;
    }
}

@media (max-width: 580px) {
    #divCentral{
        max-width: 375px;
        height: auto;
    }
    #registerCentral{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #registerLeftSide{
        width: 90%;
    }
    
    #registerRightSide{
        width: 90%;
    }
}

@media (max-width: 500px) {
    #divCentral{
        max-width: 100%;
    }
}
